.text{
    width: 100%;
    min-height: 25vw;
    /* background-color: pink; */
    padding-top: 2vw;
    margin-bottom: 2vw;
    white-space: nowrap;
    overflow-x: auto;
}
.text::-webkit-scrollbar{
    display: none;
}

.container{
    white-space: nowrap;
    display: inline-block;
    animation-name: carousel;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.container h1{
    font-size: 9vw;
    display: inline-block;
}

.circle{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: orangered;
    gap: 5vw;
    display: inline-block;
    margin: 1vw 2vw;
}

@keyframes carousel {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}